header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 2vh;
}

nav{
  display: flex;
  gap: 1vw;
}

nav h4{
  cursor: pointer;
  font-weight: 300;
}